
.appgeneral{width:100%;height:auto;
    background:linear-gradient(to top, #1a243b, #182747, #06080e);}
.appgeneral{width:100%;height:auto;
    overflow: hidden;padding:3rem 0;
    display:flex;}

.sidebar{width:250px;height:auto;
    background:linear-gradient(to bottom, #010113, #101061, #040425);
    padding: 1rem;}

.body_cards{width:100%;height:auto;
    padding:0 1rem;margin: 0;;}